<div class="grid justify-content-center card">
    <div class="col-10 md:col-6 lg:col-4">
        <p-card>
            <div class="grid">
                <div class="col-12 text-center">
                    <i class="pi pi-car" style="font-size: 60px; color: rgb(47, 124, 240)"></i>
                    <h2>Car Sales</h2>
                </div>
                <div class="col-12">
                    <label for="">Usuário:</label>
                    <input type="text" pInputText class="col-12"/>
                </div>
                <div class="col-12">
                    <label for="">Senha:</label>
                    <input type="text" pInputText class="col-12"/>
                </div>
                <div class="col-12">
                    <button pButton label="Entrar" class="col-12"></button>
                </div>
            </div>
        </p-card>
    </div>
</div>